In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('matches.csv')

In [3]:
# fetch the requtred cloiumn data
# this is series data type
data["winner"]

0              Sunrisers Hyderabad
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4      Royal Challengers Bangalore
                  ...
631    Royal Challengers Bangalore
632    Royal Challengers Bangalore
633            Sunrisers Hyderabad
634            Sunrisers Hyderabad
635            Sunrisers Hyderabad
Name: winner, Length: 636, dtype: object

In [4]:
# To collect more column data 

data[['team1','team2','winner']] # this is data frame

,team1,team2,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore
...,...,...,...
631,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore
632,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore
633,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad
634,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad
635,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad

In [5]:
# To retriev specific column
data.iloc[0]

id                                                         1
season                                                  2017
city                                               Hyderabad
date                                              2017-04-05
team1                                    Sunrisers Hyderabad
team2                            Royal Challengers Bangalore
toss_winner                      Royal Challengers Bangalore
toss_decision                                          field
result                                                normal
dl_applied                                                 0
winner                                   Sunrisers Hyderabad
win_by_runs                                               35
win_by_wickets                                             0
player_of_match                                 Yuvraj Singh
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                          AY Dandekar
umpire2                                             NJ Llong
umpire3                                                  NaN
Name: 0, dtype: object

In [6]:
# To retriev specific column using slicing
data.iloc[1:14:2,1:3]#[row, col]

    season       city
1     2017       Pune
3     2017     Indore
5     2017  Hyderabad
7     2017     Indore
9     2017     Mumbai
11    2017  Bangalore
13    2017    Kolkata

In [7]:
# Retriev a column using a " fancy indexing "
data.iloc[[2,24,5],[3,2,1]] # [Rows, column]

          date       city  season
2   2017-04-07     Rajkot    2017
24  2017-04-22       Pune    2017
5   2017-04-09  Hyderabad    2017

In [8]:

"""
iloc
"""

'\niloc\n'