Series using dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
series_data = pd.read_csv('subs.csv')
series_data.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

# this data is in dataframe so we have to convert to Series
series_data = pd.read_csv('subs.csv')['Subscribers gained']   :::best method
series_data = pd.read_csv('subs.csv').iloc[:,0]                
series_data.squeeze    ::: Good if you donâ€™t know the column name and the file has only one column

In [3]:
# series_data.squeeze
subs_data = pd.read_csv('subs.csv')['Subscribers gained']
# series_data = pd.read_csv('subs.csv').iloc[:,0]   
             
subs_data

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

Cricket data

In [4]:
cricket_data = pd.read_csv("kohli_ipl.csv",index_col="match_no",dtype="int8")['runs']
cricket_data

match_no
 1      1
 2     23
 3     13
 4     12
 5      1
       ..
-45     0
-44    20
-43    73
-42    25
-41     7
Name: runs, Length: 215, dtype: int8

Movies dataset

In [5]:
movie_data = pd.read_csv("bollywood.csv",index_col='movie')['lead']
movie_data

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

<h4>Series Method</h4>

In [6]:
#head and tail
subs_data.head(7)
subs_data.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [7]:
# sample  it will select a random column and show
# and we can specify random 5 or any 
movie_data.sample(3)

movie
Toonpur Ka Super Hero         Ajay Devgn
Julie 2                  Nishikant Kamat
Ragini MMS               Kainaz Motivala
Name: lead, dtype: object

In [8]:
# value_counts  ::to calculate a frequency of a unique
# say how many movies are made by a person
movie_data.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [9]:
#sort ::in assending
# for a parmenant changes inplace=True"
cricket_data.sort_values(ascending=False).head()

match_no
-128    113
 126    109
 123    108
-92     100
 120    100
Name: runs, dtype: int8

In [10]:
#if we make a inplace as a true then data is permanently sorted
movie_data.sort_index(ascending=True).tail()

movie
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, dtype: object

Series maths Method

In [11]:
# Count :: will not calculate a missing value but size will calculate a missing value
cricket_data.count().astype("int16")

np.int16(215)

In [12]:
# Sum
subs_data.sum().item()

49510

In [13]:
# mean
subs_data.mean().item()

135.64383561643837

In [14]:
# middle number
subs_data.median()

np.float64(123.0)

In [15]:
# mode more repeating
subs_data.mode()

0    105
Name: Subscribers gained, dtype: int64

In [16]:
subs_data.min()
subs_data.max()

np.int64(396)

In [17]:
# describes :: gives all maths
cricket_data.describe().astype("float32")

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float32

1.head()<br>
2.tail()<br>
3.sample()<br>
4.value_counts()<br>
4.sort_values() ::: sort_index()<br>
5.sum() ::: product() ::: item()