sql to excel

In [2]:
import pandas as pd 
import mysql.connector

we have to opean a work beanch and go to a SERVER and IMPORT DATA chose a data stored path of a sql and import a   data

In [5]:
con = mysql.connector.connect(password = 'lalithR838@', host = 'localhost', user = 'root', database = 'world')

In [21]:
city = pd.read_sql_query("select * from city;", con)
#city.to_csv('city.csv', index = False)

C:\Users\LALITH RAJ R\AppData\Local\Temp\ipykernel_19512\3288624409.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  city = pd.read_sql_query("select * from city;", con)