In [1]:
# Series is a single column data 
import numpy as np
import pandas as pd

In [4]:
# convert a list in to a series
country = ['India', 'USA', 'Australia', 'Srilanka']
pd.Series(country)

0        India
1          USA
2    Australia
3     Srilanka
dtype: object