In [33]:
# Series is a single column data 
import numpy as np
import pandas as pd

In [34]:
# convert a list in to a series
country = ['India', 'USA', 'Australia', 'Srilanka']
pd.Series(country)

0        India
1          USA
2    Australia
3     Srilanka
dtype: object

In [35]:
runs = [23,25,200,34,100]
s = pd.Series(runs,dtype="int16")
print(s)

0     23
1     25
2    200
3     34
4    100
dtype: int16

In [36]:
# custom index
marks = [100, 99,50,68]
subjects = ['maths','science','hindi','English']
pd.Series(marks,index=subjects,dtype="int8")

maths      100
science     99
hindi       50
English     68
dtype: int8

In [37]:
#Setting name.........(11)
pd.Series(marks,index=subjects,name='lalith marks',dtype='int8')

maths      100
science     99
hindi       50
English     68
Name: lalith marks, dtype: int8

Series from dict

In [38]:
# we can create a series 
marks = {
    'maths'  : 38,
    'kannada': 98,
    'hindi'  : 30,
    'Science': 99
}
ans = pd.Series(marks,name="lalith dict",dtype='int8')
ans

maths      38
kannada    98
hindi      30
Science    99
Name: lalith dict, dtype: int8

Series Attributes

In [39]:
# size --it will specify how many items are there
ans.size

4

In [40]:
#dtype
ans.dtype

dtype('int8')

In [41]:
#name -- say the name of the series 
ans.name

'lalith dict'

In [45]:
# it will say all the items are unique even 1 element is also repeated it will return as false
ans.is_unique

True

In [47]:
#index--get all index value
ans.index

Index(['maths', 'kannada', 'hindi', 'Science'], dtype='object')

In [49]:
#values
ans.values
#ans.values[2]

array([38, 98, 30, 99], dtype=int8)