In [2]:
import pandas as pd

In [10]:
cricker_data = pd.read_csv("kohli_ipl.csv", index_col="match_no")["runs"]
movie_data = pd.read_csv("bollywood.csv", index_col="movie")["lead"]
sub_data = pd.read_csv("subs.csv")["Subscribers gained"]
cricker_data
movie_data
sub_data

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [13]:
#astype
cricker_data.astype("int16")

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [19]:
#between  both are included
cricker_data[cricker_data.between(51,99)]

match_no
34     58
41     71
44     56
45     67
52     70
57     57
68     73
71     51
73     58
74     65
80     57
81     93
82     99
85     56
97     67
99     73
103    51
104    62
110    82
116    75
117    79
119    80
122    52
127    75
129    54
131    54
132    62
134    64
137    55
141    58
144    57
145    92
148    68
152    70
160    84
162    67
175    72
178    90
188    72
197    51
198    53
209    58
213    73
Name: runs, dtype: int64

In [24]:
#clip
sub_data.clip(100,200)
#less than 100 all are 100 and greater than 200 all are 200 in between are same

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [28]:
# drop duplicate 
temp = pd.Series([2,4,255,2,2,5,4,7])
temp

0      2
1      4
2    255
3      2
4      2
5      5
6      4
7      7
dtype: int64

In [ ]:
#to check the duplicate value
temp.duplicated

<bound method Series.duplicated of 0      2
1      4
2    255
3      2
4      2
5      5
6      4
7      7
dtype: int64>

In [30]:
temp.drop_duplicates()
#temp.drop_duplicates(keep = 'last')  # it will first last item

0      2
1      4
2    255
5      5
7      7
dtype: int64

In [36]:
movie_data[movie_data.duplicated()] # to get a duplicate data
movie_data.drop_duplicates()# To get a nonrepeated val

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

astype<br>
between<br>
clip<br>
drop_duplicates<br>
isnull<br>
fillna<br>
isin<br>
apply<br>
copy<br>